/* Styles généraux */
body {
    font-family: Candara, sans-serif; /* Police de caractères principale */
    line-height: 1.6; /* Espacement entre les lignes de texte */
    color: #333; /* Couleur de base du texte */
}

.titre {
    text-align: center; /* Centrer le texte */
    background: linear-gradient(to right, #8B4513, #FFA500); /* Dégradé de couleur pour le texte */
    -webkit-background-clip: text; /* Appliquer le dégradé au texte */
    background-clip: text; /* Appliquer le dégradé au texte */
    -webkit-text-fill-color: transparent; /* Rendre le texte transparent pour afficher le dégradé */
    color: transparent; /* Rendre le texte transparent pour afficher le dégradé */
    margin-top: 70px; /* Marge en haut */
    margin-bottom: 90px; /* Marge en bas */
}

img, .waaza {
    max-width: 100%; /* Largeur maximale de l'image */
    height: auto; /* Hauteur automatique pour maintenir le ratio */
    display: block; /* Afficher l'image comme un bloc */
    margin: 0 auto; /* Centrer l'image horizontalement */
    margin-top: 20px; /* Marge en haut de l'image */
}

h1, h2, h3, h4, h5, h6 {
    background: linear-gradient(to right, #8B4513, #FFA500); /* Dégradé de couleur pour le texte */
    -webkit-background-clip: text; /* Appliquer le dégradé au texte */
    background-clip: text; /* Appliquer le dégradé au texte */
    -webkit-text-fill-color: transparent; /* Rendre le texte transparent pour afficher le dégradé */
    color: transparent; /* Rendre le texte transparent pour afficher le dégradé */
}

h2 {
    font-size: 28px; /* Taille de la police pour les titres de niveau 2 */
    margin-bottom: 15px; /* Marge en bas */
}

h3 {
    font-size: 24px; /* Taille de la police pour les titres de niveau 3 */
    margin-bottom: 15px; /* Marge en bas */
}

p {
    font-size: 18px; /* Taille de la police pour les paragraphes */
    margin-bottom: 15px; /* Marge en bas */
}

ul, ol {
    margin-top: 10px; /* Marge en haut */
    margin-bottom: 15px; /* Marge en bas */
    list-style: none; /* Supprimer les puces des listes */
    padding-left: 0; /* Pas de padding à gauche */
}

li {
    margin-left: 20px; /* Marge à gauche pour les éléments de liste */
}

#pagination {
    margin-top: 30px; /* Marge en haut */
    text-align: center; /* Centrer le texte */
}

#pagination button {
    margin: 0 5px; /* Marges horizontales */
    padding: 12px 24px; /* Padding */
    cursor: pointer; /* Changer le curseur en main */
    background-color: #a62a00; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px; /* Taille de la police */
    font-weight: bold; /* Texte en gras */
    transition: background-color 0.3s ease; /* Transition pour le changement de couleur de fond */
}

#pagination button:hover {
    background-color: #7d1c00; /* Couleur de fond au survol */
}

.recette {
    border: 1px solid #ccc; /* Bordure */
    border-radius: 5px; /* Coins arrondis */
    padding: 20px; /* Padding */
    margin-bottom: 20px; /* Marge en bas */
}

.recette ul {
    margin-top: 10px; /* Marge en haut */
    margin-bottom: 10px; /* Marge en bas */
}

.recette li {
    margin-left: 0; /* Pas de marge à gauche */
    margin-bottom: 5px; /* Marge en bas */
}

.overlay {
    position: fixed; /* Position fixe */
    top: 0; /* Aligné en haut */
    left: 0; /* Aligné à gauche */
    width: 100%; /* Largeur maximale */
    height: 100%; /* Hauteur maximale */
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
    z-index: 1000; /* Index z pour le placement sur la pile */
    opacity: 0; /* Transparence initiale */
    transition: opacity 0.5s ease; /* Transition pour l'opacité */
}

.overlay.active {
    opacity: 1; /* Opacité complète */
}

.sidenav {
    height: 100%; /* Hauteur maximale */
    width: 250px; /* Largeur fixe */
    position: fixed; /* Position fixe */
    z-index: 1; /* Index z pour le placement sur la pile */
    top: 0; /* Aligné en haut */
    right: -250px; /* Caché à droite */
    background-color: #e8e8e8; /* Couleur de fond */
    padding-top: 60px; /* Padding en haut */
    transition: right 0.5s ease; /* Transition pour le déplacement à droite */
}

.sidenav a {
    padding: 8px 8px 8px 32px; /* Padding */
    text-decoration: none; /* Pas de soulignement */
    font-size: 25px; /* Taille de la police */
    color: #818181; /* Couleur du texte */
    display: block; /* Afficher comme un bloc */
    transition: 0.3s; /* Transition pour le changement de couleur */
}

.sidenav a:hover {
    color: #111; /* Couleur du texte au survol */
}

.sidenav ul {
    list-style-type: none; /* Supprimer les puces des listes */
    padding: 0; /* Pas de padding */
    margin: 0; /* Pas de marge */
}

.sidenav.active {
    right: 0; /* Affiché à droite */
}

.sidenav .close {
    position: absolute; /* Position absolue */
    top: 0; /* Aligné en haut */
    right: 25px; /* Aligné à droite */
    font-size: 36px; /* Taille de la police */
}

.burger-icon {
    position: fixed; /* Position fixe */
    top: 20px; /* Aligné en haut */
    right: 20px; /* Aligné à droite */
}

.burger-icon span {
    display: block; /* Afficher comme un bloc */
    width: 35px; /* Largeur */
    height: 5px; /* Hauteur */
    background-color: black; /* Couleur de fond */
    margin: 6px 0; /* Marge en haut et en bas */
}

/* Media Queries pour rendre le design responsive */
@media (max-width: 768px) {
    .titre {
        font-size: 24px; /* Taille de la police pour les titres */
    }

    h2 {
        font-size: 24px; /* Taille de la police pour les titres de niveau 2 */
    }

    h3 {
        font-size: 20px; /* Taille de la police pour les titres de niveau 3 */
    }

    p {
        font-size: 16px; /* Taille de la police pour les paragraphes */
    }

    .sidenav {
        width: 100%; /* Largeur maximale */
        right: -100%; /* Caché à droite */
    }

    .sidenav.active {
        right: 0; /* Affiché à droite */
    }

    .burger-icon {
        display: block; /* Afficher l'icône burger */
    }
}
@media (max-width: 480px) {
    .titre {
        font-size: 20px;
    }

    h2 {                          
        font-size: 20px;    /*Rendre le site responsive */
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
}